/* Apply colors to my HTML elements */ 
body {
    background-color: lightblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1, h4 {
    color: #090;
    font-size: 2em;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
}

h2 {
    color: rgba(235, 16, 16, 0.6);
    text-decoration: underline;
    text-align: center;
    
    font-size: 150%;
    margin: 10px;

    display: block;
}

h3 {
    color: hsl(30, 100%, 50%, 0.6);
    font-size: 1.3rem;
    padding: 5px
}

li {
    font-size: 0.5cm;
    border-style: solid;
    border-color: lightblue;
    border-width: 2mm;
    border-radius: 2mm;
    margin: auto;

    display: inline;
}

li:hover{
    color:purple;
}

img:active{
    width: 4in;
    height: 50mm;
}

video{
    max-width: 4in;

    position: static;
}

audio{
    min-width: 4in;

    position: relative;
}

.container{
    display: flex;
    flex-direction: row;
    font-size: 1em;
    line-height: 50px;
    font-size: 3ch;
    border: 1px solid black;
    background-color: wheat;
}

.navigation{
    display: flex;
    flex-flow: row wrap;
    flex-wrap: nowrap;
    justify-content: flex-end;
  }
  
  
.navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: blue;
  }

.attendance {
    display: flex;
    flex-flow: row wrap;
    flex-wrap: nowrap;
    justify-content: flex-end;
  }

.unfinished {
    display: grid;
    grid-area: main;
    grid-template-columns: 100px 50px 100px;
    grid-template-rows: 80px auto 80px; 
}

.new {
    display: grid;
    grid-area: main;
    grid-template-columns: 100px 50px 100px;
    grid-template-rows: 80px auto 80px; 
}

@media all and (max-width: 600px) {
    body {
      background-color: red;
    }
}

#brainstorming {
    background-color: purple;
}

*.attendance{
    color: green;
  }

input[type="checkbox"]:checked{
    background: pink;
}

div p{
    background-color: rgb(8, 178, 230);
}

div > p{
    background-color: rgb(240, 224, 6);
}

div + p{
    background-color: rgb(224, 16, 145);
}

div ~ p{
    background-color: rgb(240, 89, 20);
}

p.new{
    background-color:rgb(53, 5, 5);
}